.logo-container {
    display: flex;
    justify-content: center;
    margin-top: 30%;
}

.btn-section {
    position: absolute;
    width: 100%;
    bottom: 5%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}